body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
}



.cabeza{
    display:flex;
    align-items:center;
    justify-content:center;
    height:60px;
    background:#333;
}

.menu{
    position:absolute;
    left:20px;
    font-size:22px;
}


.c{
    width:80%;
    max-width:350px;
    margin:120px auto;
    background:#2f2f2f;
    border-radius:15px;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.texto h1{
    margin:0;
    font-size:40px;
}

.incremento{
    color:#2ecc71;
}

.mes{
    color:#bbb;
}


.icono{
    width:60px;
    height:60px;
    background:#5a3d28;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
}

